<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\chlar\Documents\Repositories\todo_list_java\todo_list_java\ToDoListApp.jar</jar>
  <outfile>C:\Users\chlar\Documents\Repositories\todo_list_java\todo_list_java\ToDoit.exe</outfile>
  <errTitle>Sorry, you need to download java to run the program</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>https://www.java.com/download/ie_manual.jsp</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\chlar\Documents\Repositories\todo_list_java\todo_list_java\Untitled20.ico</icon>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>